<p class="show"><strong>Title:</strong>
<!--findメソッドを用いてユーザーから指定されたレコードを格納したインスタンス変数books内のtitleカラムを指定-->
<%= @book.title %></p>

<p class="show"><strong>Body:</strong>
<%= @book.body %></p>

<div class="button">
  <%= link_to 'Edit', "/books/#{@book.id}/edit" %>
  |
  <%= link_to 'Back', "/books" %>
  </div>